//- Copyright 2016 Google Inc. All Rights Reserved.
//- Licensed under the Apache License, Version 2.0 (the "License");
//- you may not use this file except in compliance with the License.
//- You may obtain a copy of the License at
//-     http://www.apache.org/licenses/LICENSE-2.0
//- Unless required by applicable law or agreed to in writing, software
//- distributed under the License is distributed on an "AS IS" BASIS,
//- WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
//- See the License for the specific language governing permissions and
//- limitations under the License.
#timer.col-sm-3.center
                #counter-wrapper.row
                    .col-xs-12
                        #overtime
                    #timer.timer-undertime
                        #counter-container 18
                #dot-wrapper.row(style="display:block;")
                    #dots.row
                        .dotblock
                            #one.dot.dotFade
                        .dotblock
                            #two.dot.dotFade
                        .dotblock
                            #three.dot.dotFade
                        .dotblock
                            #four.dot.dotFade
                        .dotblock
                            #five.dot.dotFade
                        .dotblock
                            #six.dot.dotFade
                        .dotblock
                            #seven.dot.dotFade
                        .dotblock
                            #eight.dot.dotFade
                        .dotblock
                            #nine.dot.dotFade
                        .dotblock
                            #ten.dot.dotFade